<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722235473502-4emdlemief733afmk31q1t3ip1nfu3ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722235473502-4emdlemief733afmk31q1t3ip1nfu3ae</string>
	<key>API_KEY</key>
	<string>AIzaSyB46Ipk2Y87dq1lVTpdRQILfWOl4b2F4mw</string>
	<key>GCM_SENDER_ID</key>
	<string>722235473502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Justin.Hydrate</string>
	<key>PROJECT_ID</key>
	<string>hydrate-36b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrate-36b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722235473502:ios:d59deaf5edbfcb4500becf</string>
</dict>
</plist>